/* __________ Menu __________*/
.layout_menu{
    grid-area: menu;
    cursor: default;
}

.layout_menu ul{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
}

.layout_menu ul li {
    margin-right: 0.8rem;
    padding: 0.4rem 0.8rem;
    cursor: inherit;
    position: relative;
}

.menu_item{
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 700;
    color: #59328f;
}
/* __________ End Menu __________*/

/* __________ Submenu __________*/
.submenu{
    display: none;
    visibility: hidden;
    background-color: white;
    position: absolute;
    top: 100%;
    border-color: #59328f;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
}

.submenu li{
    float: none;
    display:list-item;
	position: relative;
}

.submenu_item{
    text-decoration: none;
    white-space: nowrap;
    color: #59328f;
    font-weight: 400;
    font-size: 1.2rem;
    cursor: default;
}

.menu_item:hover, .submenu_item:hover{
    color: #ea3546;
}

.layout_menu ul li:hover > .submenu, .submenu > .submenu{
    display: inherit;
    visibility: visible;
}

.submenu .submenu{
    left: 100%;
    top: 0;
}
/* __________ End Submenu __________*/