p{
    margin: 0 0 1rem 0;
}

.layout_main{
    display: grid;
    grid-template-areas:
    "book book book book book book book comment comment comment comment comment"
    "descript descript descript descript descript descript descript comment comment comment comment comment";
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 5rem;
}

.layout_book{
    grid-area: book;
    display: flex;
    flex-direction: row;
    background-color: #59328f;
    padding: 1rem;
    height: inherit;
}

.layout_cover{
    height: 35rem;
    padding: 0.8rem;
    background: white;
}

.cover{
    height: 100%;
}

.layout_book_info{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: inherit;
    color: white;
    font-size: 1.4rem;
    margin-left: 2.4rem;
}

.title{
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.info_item{
    font-weight: 400;
}

.info_content{
    font-weight: 600;
    text-decoration: none;
    color: white;
}

a.info_content:hover{
    color: #ea3546;
}

/*__________ Rating __________*/
.layout_rating{
    display: flex;
    flex-direction: row;
    height: 8rem;
}

.layout_rating .info_item{
    margin: auto 0;
}

.rating-count{
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    position: relative;
}

.rating-count input {
    position: absolute;
    clip: rect(0 0 0 0);
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.rating-count input + label {
    font-size: 0;
    display: block;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    background: url(../../images/png/star.png) no-repeat center / contain,
                url(../../images/png/star_fill.png) no-repeat center / 0 0,
                url(../../images/png/star_fill.png) no-repeat center / 0 0;
}

.rating-count input:first-child {
    display: none;
}

.rating-count input + label {
    background-image: url(../../images/png/star_fill.png);
}

.rating-count label:hover ~ label,
.rating-count:not(:hover) input:not(:first-child):checked + label ~ label:not(:hover),
.rating-count:not(:hover) input:first-child:checked ~ label:not(:hover) {
    background-image: url(../../images/png/star.png);
}

.rating-count input + label:hover,
.rating-count:not(:hover) input:focus + label {
    background-image: url(../../images/png/star_fill.png);
}

.separator_rating{
    width: 0.1rem;
    background: white;
    transform: rotate(25deg);
    margin: 0 1rem;
}

.count_rating{
    margin: auto 0;
}
/*__________ End Rating __________*/

.layout_age{
    margin: 2rem 1.4rem;
}

.age{
    font-weight: 400;
    font-size: 1.2rem;
    background: black;
    padding: 0.6rem;
}

.layout_download{
    position: relative;
    height: 100%;
    width: 100%;
}

.layout_inner_download{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    min-height: 4rem;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
}

.download_title{
    margin: 0;
}

.link_download{
    margin-left: 0.6rem;
    height: 2rem;
}

.img_download{
    height: inherit;
}

.layout_book_description{
    grid-area: descript;
    margin-top: 2rem;
    color:#59328f;
    font-size: 1.4rem;
}

.discription_title{
    font-weight: 700;
}

.layout_comment{
    grid-area: comment;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f0f0f0;
}

/*__________ Comment Write __________*/
.layout_comment_write{
    display: flex;
    flex-direction: row;
    margin: 3rem 2rem;
    border-bottom-style: solid;
    border-bottom-width: 0.2rem;
    border-color: #59328f;
}

.comment_write{
    width: 100%;
    border-bottom-width: 0;
}

.action_comment_write{
    width: 2rem;
    height: 2rem;
    border: none;
    padding: 0;
    background: url(../../images/png/send.png) no-repeat 0 0;
    background-size: contain;
    cursor: pointer;
}
/*__________ End Comment Write __________*/

/*__________ Comment __________*/
.comments{
    width: inherit;
    max-height: 60rem;
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    font-size: 1.2rem;
    overflow:auto;
}

.comment{
    display: block;
    background: white;
    width: inherit;
    padding: 1rem;
    margin-bottom: 1rem;
}

.comment_title{
    display: flex;
    position: relative;
}

.comment_username{
    color: #ea3546;
    font-weight: 600;
    margin: 0;
}

.user_rating{
    display: flex;
    flex-direction: row;
    position: absolute;
    right:0;
    top:0;
}

.star{
    height: 2rem;
    width: 2rem;
}

.star_empty{
    background: url(../../images/png/star.png) no-repeat center / contain;
}

.star_fill{
    background: url(../../images/png/star_fill.png) no-repeat center / contain;
}

.comment_yeartime{
    color: #eb5d6b;
    margin: 0;
    margin-top: 1rem;
}

.comment_time{
    margin-left: 3rem;
}

.layout_comment_content{
    display: flex;
    flex-direction: column;
}

.comment_content{
    margin: 0;
    margin-top: 2rem;
    overflow: hidden;
    color: black;
}

.comment_content + span{
    display: none;
}

.comment_show_more{
    border: 0;
    color: #59328f;
    font-style: italic;
    padding: 0.4rem 0.8rem;
    margin-top: 1rem;
    cursor: pointer;
}

.comment_show_more:hover{
    color: white;
    background: #ea3546;
}
/*__________ End Comment __________*/