.layout_genres{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.row_genres{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 5rem;
    margin-top: 2rem;
}

.genre{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title_genre{
    color: #59328f;
    font-weight: 700;
    font-size: 1.6rem;
    text-decoration: none;
}

.title_genre:hover{
    color: #ea3546;
}

.books_genre{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.book_genre{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1.6rem 0.6rem;
    border: solid #f9c80e 3px;;
    padding: 1.6rem;
}

.layout_cover{
    display: block;
    position: relative;
    width: inherit;
    height: 20rem;
    overflow: hidden;
}

.link_cover{
    width: inherit;
}

.cover_book{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: inherit;
}

.book_title{
    display: block;
    color: #59328f;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    overflow: hidden;
    max-height: 6rem;
    text-decoration: none;
}